@import "../../assets/variables.scss";

.home {
    margin-top:60px;
    border: 10px solid green;
}

.video-container { 
  border: 1px solid blue;
    width: 100%;
    height: 90%;
    position: relative;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 1s;
    animation-duration: 2s;
    animation-delay: 0.25s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both; 
    .video-overlay {
        border: 3px solid red;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0px;
        top: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .search-container{
            // border: 3px solid orange;
            width: 70%;
            display: flex;
            flex-direction: row;
            align-items: center;
            align-content: center;
            justify-content: center;
            animation-name: slideInDown;
            animation-duration: 1s;
            animation-delay: 1s;
            animation-fill-mode: both;
            .input-bar {
                border: none;
                text-decoration: none;
                border-radius: 50px;
                height: 30px;
                width: 400px;
                font-size: 1.5em;
                text-align: center;
                font-family: $font-family-elegant;
                color: black;
                opacity: 0.70;
                margin-right: 6px;
            }
            .submit-btn {
                height: 30px;
                width: 75px;
                background-color: rgb(235, 63, 57);
                text-decoration: none;
                color: white;
                border: 3px solid white;
                border-radius: 6px;
                font-family: $font-family-bold;
                font-weight: bold;
            }
            .submit-btn:hover {
                background-color: rgb(243, 160, 157);
            }
        }
        .description-container{
            margin-top:50px;
            font-family: $font-family-bold;
            font-size: 50px;
            font-weight: bold;
            color: rgb(255, 255, 255);
            opacity: 0.80;
            animation: fadein 5s;
        }
    } 
    video {
        width: 100%;
        height: 100%;
        // z-index: -1;
    }
}

.bottom-container{
    margin-top: -6px;
    border: 3px solid purple;
    background-color: yellow;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-dark;
    .about-container{
        width: 50%;
        height: 60%;
        background-color: $color-light;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .about-title{
            font-family: $font-family-bold;
            color: $color-header;
            font-size: 2.5em;
            font-weight: bold;
        }
        .about-description{
            font-family: $font-family-elegant;
            background-color: $color-light;
            font-size:1.5em;
            color: rgb(39, 38, 38);
            padding:0 30px;
        }
    }
    .carousel-container{
        margin: auto;
        width:50%;
    }
}

.slider-slide {
    min-height: 100%;
}

@keyframes slideInDown {
   0% {
       opacity: 0;
       transform: translateY(-100%);
       visibility: visible;
   }
   100% {
       opacity: 1;
       transform: translateY(0);
   }
} 

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: .80; }
}

@media (max-width: 768px){
    .bottom-container{
        display: block;
        .about-container{
            width: 100%;
        }
        .carousel-container{
            width:100%;
            height: auto;
        }
    }
}

@media (max-width: 480px) {
    .search-container {
        width:100% !important;
    }
    .input-bar {
        font-size: 1em !important;
        height: 27px !important;
        width: 60% !important;
    }
    .description-container{
        margin-top:15px !important;
        font-size: 40px !important;
    }
    .about-description{
        margin-top: 0px;
        font-size: 18px !important;
    }
}