@import '../../assets/variables.scss';

.Listing{
    text-align: center;
}

.content-container {
    background-color: red;
    width: 100%;
    height: 80vh;
    display: flex;
}

.left-content-container {
    height: 100%;
    width:40%;
    background-color: $color-dark; 

}

.right-content-container {
    padding-top:80px;
    height: 100%;
    width: 90%;
    background-color: $color-dark;
    margin:auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    .listings-container {
        height: 250px;
        width: 500px;
        display: flex;
        background-color: white;
        border:5px solid rgb(0, 128, 247);
        border-radius: 5px;
        margin:20px;
        align-content: center;
        justify-content: space-around;
        align-items: center;
        font-family: $font-family-elegant;
        -webkit-animation-name: fadeInUp;
        animation-name: fadeInUp;
        -webkit-animation-duration: 1.25s;
        animation-duration: 1.5s;
        animation-delay: 1.25s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        .listing-photo-container {
            height: 200px;
            width: 200px;
            margin: 10px;
            border: solid 1px gray;
            .listing-photo {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .listing-description-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .restaurant-title {
                padding-right:5px;
                color: rgb(32, 28, 28);
                text-decoration: none;
                transition: color 1s;
                color: rgb(18, 91, 248);
                
            }
            .restaurant-title:hover {
                color: rgb(101, 150, 248);
            }
            h4 {
                margin: 5px;
            }
            .add-listing-button {
                margin: 5px;
                cursor: pointer;
                height: 35px;
                width: 75px;
                background-color: rgb(235, 63, 57);
                text-decoration: none;
                color: white;
                border: 2px solid black;
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: $font-family-bold;
                font-size: 1.25em;
            }
            .add-listing-button:hover{
            background-color: rgb(243, 160, 157);
            }
        }
    }
}





@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }

}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
} 

@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
} 

@media (max-width: 480px) {
    .right-content-container{
        margin: 0px;
        width: 100%;
        .listings-container{
            height: 180px;
            .listing-photo-container {
                height: 80%;
                width: 60%;
            }
            .listing-description-container {
                height: 100%;
                .restaurant-title {
                    margin: 0px;    
                }
                h4 {
                    margin:0px !important;
                    padding:0px !important;
                }
                .add-listing-button {
                    height: 20px;
                    width: 75px;
                }
            }
        }
    }
}