@import url('https://fonts.googleapis.com/css?family=Lobster|Cabin');

$font-family-bold: Lobster;
$font-family-elegant: Cabin;

$color-dark: #1660b4; //content, outlines
$color-light: snow; //large background
$color-medium: #1A936F; // mostly used
$color-dull: #C6DABF; //used for layouts
$color-bright: #88D498; //used for accents
$color-contrast: #da2727;
$color-header: rgb(5, 153, 252);